<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Male-Female Ratio
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group [field-label]="'Gender'" [(ngModel)]="ratiomodel.genderId" name="ratiomodel.genderId" [data-reader]="'data'" [display-field]="'gender'" [value-field]="'genderId'" [data]="genderId_Data" [horizontal]="true">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="4">
                <amexio-dropdown [(ngModel)]="ratiomodel.year" name="ratiomodel.year" [place-holder]="'Select year'" [search]="true" [data-reader]="'data'" [field-label]="'Year'" [data]="year_Data" [display-field]="'year'" [value-field]="'yearId'">
                </amexio-dropdown>
            </amexio-column>
            <amexio-column size="2">
                <amexio-button [label]="'Show Count'" [type]="'theme-color'" [tooltip]="'button'" [size]="'default'" [form-bind]="'btn'" (onClick)="onClick_btn($event)">
                </amexio-button>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="12">
                <amexio-datagrid [title]="'State wise count'" [page-size]="10" [data]="grid_Data" [enable-column-fiter]="true">
                    <amexio-data-table-column [text]="'State'" [data-index]="'stateName'" [data-type]="'string'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [text]="' Count'" [data-index]="'birthCount'" [data-type]="'string'">
                    </amexio-data-table-column>
                </amexio-datagrid>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>

    </amexio-action>
</amexio-card>
<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>