<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee List
    </amexio-header>
    <amexio-body>
        <amexio-datagrid [page-size]="10" [http-url]="'https://restapi.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'" [enable-column-fiter]="true">
            <amexio-data-table-column [text]="'First name'" [data-index]="'firstName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Last name'" [data-index]="'lastName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Phone'" [data-index]="'phone'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Email'" [data-index]="'email'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Department'" [data-index]="'deptName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Country'" [data-index]="'countryName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'State'" [data-index]="'stateName'" [data-type]="'string'">
            </amexio-data-table-column>
        </amexio-datagrid>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Add New'" [icon]="'fa fa-plus'" [type]="'theme-color'" [tooltip]="'button'" [size]="'default'" [form-bind]="'btn'" (onClick)="onClick_btn($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>
<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>