<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee Registration
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'First name'" [(ngModel)]="employee.firstName" name="employee.firstName" [place-holder]="'Enter first name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Last name'" [(ngModel)]="employee.lastName" name="employee.lastName" [place-holder]="'Enter last namre'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group [field-label]="'Gender'" [(ngModel)]="employee.genderId" name="employee.genderId" [data-reader]="'data'" [display-field]="'gender'" [value-field]="'genderId'" [data]="genderId_Data" [horizontal]="true">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input [field-label]="'Age'" [(ngModel)]="employee.age" name="employee.age" [place-holder]="'Enter age'" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Phone No.'" [(ngModel)]="employee.phone" name="employee.phone" [place-holder]="'Enter phone number'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'email'" [(ngModel)]="employee.email" name="employee.email" [place-holder]="'enter email'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="12">
                <amexio-dropdown [(ngModel)]="employee.departmentId" name="employee.departmentId" [place-holder]="'Select department'" [search]="true" [field-label]="'Department'" [http-url]="'https://restapi.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'"
                    [display-field]="'name'" [value-field]="'id'">
                </amexio-dropdown>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-dropdown [(ngModel)]="employee.countryId" name="employee.countryId" [place-holder]="'Select country '" [search]="true" [field-label]="'Country'" [http-url]="'https://restapi.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'"
                    [display-field]="'countryName'" [value-field]="'id'" (onSingleSelect)="onSingleSelect_countryId($event)">
                </amexio-dropdown>
            </amexio-column>
            <amexio-column size="6">
                <amexio-dropdown [(ngModel)]="employee.stateId" name="employee.stateId" [place-holder]="'Select state'" [search]="true" [field-label]="'State'" [data]="stateId_Data" [display-field]="'stateName'" [value-field]="'stateId'">
                </amexio-dropdown>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Cancel'" [icon]="'fa fa-close fa 2x'" [type]="'default'" [tooltip]="'button'" [size]="'default'" [form-bind]="'cancel'">
        </amexio-button>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'theme-color'" [tooltip]="'save'" [size]="'default'" [form-bind]="'save'" (onClick)="onClick_save($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>
<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>


<amexio-notification [data]="errorMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'red'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-times-circle-o'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>